<!DOCTYPE html>
<html>
  <head>
    <title>To-do List</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600,300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body aurelia-app="src/main.js">
    <script src="assets/scripts/system.js"></script>
    <script src="assets/scripts/config-esnext.js"></script>
    <script src="assets/scripts/aurelia-core.min.js"></script>
    <script>
      // comment out for production or if you want to cache your code
      //System.import('src/cacheBuster.js');

      System.import('aurelia-bootstrapper');
    </script>
  </body>
</html>