// Variables

//--Colors
$white: #FFF;
$gray-primary: #F5ECD9;
$black-primary: #3B3B3b;
$black-secondary: #333;

$blue-primary: #2BACB5;
$blue-secondary: #3AA1BF;

$green-primary: #32cd32;
$teal-primary: #B4CCB9;
$teal-secondary: #E9F1DF;

$red-primary: #E84D5B;
$red-secondary: #F2385A;
$orange-primary: #F5A503;

//--Fonts

$font-primary:  "Source Sans Pro", Helvetica, Arial, sans-serif !default;
$font-secondary: 'Baloo Bhai', cursive;